body{
    text-align:center;
    font-family:"Open Sans",sans-serif;
    background-color:#8A71C9;
    color:aliceblue;
}

h1{
    font-size:60px;
    font-weight: 300;
}

h2{
    color: #2a0074;
    font-size:40px;
}

h3{
    font-size:22px;
    font-style: italic;
}

p{
    font-size:20px;
    line-height: 1.5;
}

.titulo-verde{
    color:#04ff9f;
    text-align:center;
}

.titulo-vermelho{
    color:#FF9E9E;
}

.titulo-amarelo{
    color:#ffe36d
}

section{
    max-width: 100%;
    margin: 0 auto;
}

img{
    width: 100%;
}

ul{
    list-style-type:none;
    line-height: 2;
    padding-left: 0;
}

a{
    text-decoration: none;
    color: #99ffff;
    font-weight: 700;
}

.principal a{
    color:white;
    text-decoration: underline;
    font-weight: normal
}

.principal{
    background: #FF6CB5;
    height: 40px;
    max-width: 60%;
    margin: 0 auto;
}

.principal li{
    display: inline-block;
    line-height: 2.5;
    margin: 0 89px;
}


button{
    background:#41f341;
    border: 1px solid transparent;
    padding: 2x 20px;
    border-radius: 3px;
    margin-bottom: 50px;
}

@media (max-width: 1255px)
{
.principal{ max-width:80%;
    display: inline
}

@media (max-width: 960px)
{
.principal{ max-width:80%;
    display: inline
    background-color: #FF6CB5;
}